<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qura</title>
    <style>
        body{
             text-align:center;
             /* font-family: 'Times New Roman', Times, serif; */
            font-family: Arial, Helvetica, sans-serif;
            }
        h2{
            text-align: center;

        }
        button{
            color: gold;
            background-color: white;
            border-radius: 10px;
            margin-top: 200px;

        }
    </style>
</head>
<body>
    <h2>The Total Count of Account is :- <%=count %></h2>
  
    <a href="http://localhost:8080/user"><h3>See user profile</h3></a>
    <a href="http://localhost:8080/join"><button>Join Us!</button></a>
</body>
</html>